<!DOCTYPE html>
<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Configs</title>
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
        />
        <link rel="stylesheet" href="../css/PerfilAdmin.css" />
        <link rel="stylesheet" href="../css/configs.css" />
    </head>
    <body>
        <header class="header">
            <button onclick="location.href='Home.html'">
                <img src="../assets/img/DrinkUp_Logo_Preta_PNG.png" alt="DrinkUp Logo"/>
            </button>
            <button
                class="button-usuario"
                onclick="location.href='Perfil.html'"
            >
                <span class="material-symbols-outlined">person</span>
            </button>
        </header>

        <div class="container">
            <aside class="sidebar">
                <button id="minha-conta">MINHA CONTA</button>
                <button>MEUS PEDIDOS</button>
                <button>MEU ENDEREÇO</button>
            </aside>

            <!-- Main -->
            <main class="content">
                <!-- Mudança de página -->
            </main>
        </div>

        <!-- Icons -->
        <script
            src="https://kit.fontawesome.com/559e095fe9.js"
            crossorigin="anonymous"
        ></script>

        <script src="../js/configs.js"></script>
    </body>
</html>
