<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Bebida</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@500;1000&ital,wght@1,1000&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../css/Perfil.css">
    <link rel="stylesheet" href="../css/SaidadeBebida.css" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>

    <div class="navbar">
        <a class="navbar-brand" href="Home.html">
            <img src="../assets/img/LogoNova.png" alt="Logo DrinkUp">
        </a>
        <div class="navbar-icons">
            <button id="loginBtn" class="button-login" onclick="location.href='Login.html'">Login</button>
            <button id="carrinhoBtn" class="btn button-carrinho" onclick="location.href='Carrinho.html'">
                <span class="material-symbols-outlined">shopping_cart</span>
            </button>
            <button id="perfilBtn" class="btn button-usuario" onclick="location.href='Perfil.html'">
                <span class="material-symbols-outlined">person</span>
            </button>
        </div>
    </div>

    <div class="container">
        <aside class="sidebar">
            <button class="btn-voltar" onclick="location.href='Home.html'">⇦ VOLTAR</button>
            <button onclick="location.href='Perfil.html'">MINHA CONTA</button>
            <button onclick="location.href='RelatorioDeCompras.html'">MEUS PEDIDOS</button>
            
        </aside>
       
        <main class="content">
            <div class="row">
                <div class="col-md-9">
                    <div class="form-container dados">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="nome" class="form-label">Nome</label>
                                    <input type="hidden" id="cliente-id" />
                                    <input type="text" class="form-control" id="nome">
                                </div>
                                <div class="mb-3">
                                    <label for="cpf" class="form-label">CPF</label>
                                    <input type="text" class="form-control" id="cpf">
                                </div>
                                <div class="mb-3">
                                    <label for="bairro" class="form-label">Bairro</label>
                                    <input type="text" class="form-control" id="bairro">
                                </div>
                                <div class="mb-3">
                                    <label for="cep" class="form-label">CEP</label>
                                    <input type="number" class="form-control" id="cep">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="datanasc" class="form-label">Data de Nascimento</label>
                                    <input type="date" class="form-control" id="datanasc">
                                </div>
                                <div class="mb-3">
                                    <label for="email" class="form-label">E-mail</label>
                                    <input type="email" class="form-control" id="email">
                                </div>
                                <div class="mb-3">
                                    <label for="rua" class="form-label">Rua</label>
                                    <input type="text" class="form-control" id="rua">
                                </div>
                                <div class="mb-3">
                                    <label for="complemento" class="form-label">Complemento</label>
                                    <input type="text" class="form-control" id="complemento">
                                </div>
                                <div class="mb-3">
                                    <label for="telefone" class="form-label">Telefone</label>
                                    <input type="tel" class="form-control" id="telefone">
                                </div>
                            </div>
                            <div class="button">
                                <button type="submit" class="btn btn-primary" id="btnsalvar">Salvar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <!-- Icons -->
    <script src="https://kit.fontawesome.com/559e095fe9.js" crossorigin="anonymous"></script>
    <script src="../js/PerfilCliente.js"></script>
</body>

</html>