<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@500;1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/ProdutosCategoria.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Produtos da Categoria</title>
</head>
<body>
    <div class="navbar">
        <a class="navbar-brand" href="Home.html">
            <img src="../assets/img/LogoNova.png" alt="Logo DrinkUp">
        </a>
        <div class="navbar-icons">
            <button id="loginBtn" class="btn button-login" onclick="location.href='Login.html'">Login</button>
            <button id="carrinhoBtn" class="btn button-carrinho" onclick="location.href='Carrinho.html'">
                <span class="material-symbols-outlined">shopping_cart</span>
            </button>
            <button id="perfilBtn" class="btn button-usuario" onclick="location.href='Perfil.html'">
                <span class="material-symbols-outlined">person</span>
            </button>
        </div>
    </div>
<div>
    <h2 id="category-title" style="text-align: center; margin-top: 10px;">Todos os produtos</h2></div>
    <button class="btnvoltar" onclick="location.href='Home.html'">⇦ VOLTAR</button>  

    <div class="container-fluid">
        <div id="product-list" class="product-list"></div>
    </div>

    <script src="../js/ProdutosCategoria.js"></script>
</body>
</html>
