<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saida de Bebida</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
    <link rel="stylesheet" href="../css/SaidadeBebida.css">
    <style>
        .operacao-saida {
            background-color: white;
            color: rgb(203, 76, 76);
        }
        .operacao-entrada {
            background-color: white;
            color: rgb(30, 122, 30); 
        }
    </style>
</head>
<body>
    <div class="navbar">
        <a class="navbar-brand" href="Home.html">
            <img src="../assets/img/LogoNova.png" alt="Logo DrinkUp">
        </a>
        <div class="navbar-icons">
            <button id="loginBtn" class="button-login" onclick="location.href='Login.html'">Login</button>
            <button id="perfilBtn" class="btn button-usuario" onclick="location.href='PerfilAdmin.html'">
                <span class="material-symbols-outlined">person</span>
            </button>
        </div>
    </div>

    <div class="container">
        <aside class="sidebar">
            <button onclick="location.href='PerfilAdmin.html'">MINHA CONTA</button>
            <button onclick="location.href='Estoque.html'">ESTOQUE</button>
            <button onclick="location.href='CadastroBebidas.html'">CADASTRO DE BEBIDA</button>
            <button onclick="location.href='ListagemDeBebidas.html'">LISTA DE BEBIDAS</button>
            <button onclick="location.href='ValorFrete.html'">FRETE</button>
            <button onclick="location.href='SaidadeBebida.html'">MOVIMENTO ESTOQUE</button>
            <button onclick="location.href='historicoDeComprasAdmin.html'">HISTORICO DE COMPRA</button>
            <button onclick="location.href='StatusDoPedido.html'">STATUS DOS PEDIDOS</button> 
        </aside>

        <main class="content">
            <h3>MOVIMENTAÇÕES DO ESTOQUE</h3>
            <table class="saida-table">
                <thead>
                    <tr>
                        <th>Tipo</th>
                        <th>Qnt</th>
                        <th>Valor</th>
                        <th>Nome da Bebida</th>
                        <th>Descrição</th>
                        <th>Operação</th>
                    </tr>
                </thead>
                <tbody id="saida-table-body">
                </tbody>
            </table>
        </main>
    </div>

    <script src="https://kit.fontawesome.com/559e095fe9.js" crossorigin="anonymous"></script>
    <script src="../js/SaidaDeBebida.js"></script>
</body>
</html>
