@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@500;1000&ital,wght@1,1000&display=swap");

body {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navbar {
  background-color: #FDB815;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 95px;
}

.navbar img {
  height: 100px;
  display: flex;
  width: auto;
  margin-top: 0;
  margin-left: -24px;
}


.navbar-icons {
  display: flex;
  align-items: center;
}

#perfilBtn, #carrinhoBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.3s;
  color: black;
  margin-top: 20px;
  padding: 5px 25px;
}
#perfilBtn{
  margin-top: 22px;
}

#perfilBtn .material-symbols-outlined,
#carrinhoBtn .material-symbols-outlined{
  font-size: 24px;
  color: black;
  transition: color 0.3s;
}

#perfilBtn:hover .material-symbols-outlined,
#perfilBtn:focus .material-symbols-outlined,
#carrinhoBtn:hover .material-symbols-outlined,
#carrinhoBtn:focus .material-symbols-outlined {
  color: black;
}

/* Botão de login */
.button-login {
  background-color: transparent !important;
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 23px;
  font-size: 16px;
  color: #000000;
  
}

.button-login:hover {
  background-color: #FDB815;
}

.container {
  display: flex;
  flex: 1;
}

.sidebar {
  color: #111;
  padding: 20px;
  width: 850px;
}

#imagem img {
  display: block;
  margin: 0 auto;
  width: 400px; /* Largura fixa */
  height: 400px; /* Altura fixa */
  object-fit: contain; 
}

.content {
  flex: 1;
  padding: 20px;
  text-align: justify;
}

#id {
text-align: justify;   
}

button {
  padding: 10px 20px;
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
}

button:hover {
    opacity: .4;
    transition: 0.2s ease-in-out;
}    


.sidebar button {
  border: none;
  height: 40px; /* Defina a altura dos botões */
}

.sidebar button:hover {
  background-color: #ddd;
  transition: 0.2s ease-in-out;
}

#counter {
    display: flex;
    justify-content: center;
    border: 4px;
    border-color: black;
    border-radius: 4px;
    padding: 32px;
}

#counter div {
    display: flex;
    align-items: center;
}

#value {
    color: black;
    min-width: 100px;
    text-align: center;
    font-size: 35px
}

.count-button {
    width: max-content;
    height: max-content;
    font-size: 20px;
    background-color: #F2C029;
    text-align: center;
}

.count-button:last-child{
    margin-right: 0px;
    margin-left: 16px;
    
}

#reset {
 width: 1;
 margin-left: px;
 background-color: #F2C029;   
}

.add-btn {
  background-color: #F2C029;
  margin-left: 20px;
}

.buttons{
    display: flex;
    justify-content: center;
}

button{
    background-color: transparent;
}
.navbar-icons {
  display: flex;
  align-items: center;
}

#perfilBtn, #carrinhoBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.3s;
  color: black;
}

#perfilBtn .material-symbols-outlined,
#carrinhoBtn .material-symbols-outlined,
#filterBtn .material-symbols-outlined {
  font-size: 24px;
  color: black;
  transition: color 0.3s;
}

#perfilBtn:hover .material-symbols-outlined,
#perfilBtn:focus .material-symbols-outlined,
#carrinhoBtn:hover .material-symbols-outlined,
#carrinhoBtn:focus .material-symbols-outlined,
#filterBtn:hover .material-symbols-outlined,
#filterBtn:focus .material-symbols-outlined {
  color: black;
}
