@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@500;1000&ital,wght@1,1000&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    font-family: 'Nunito Sans', sans-serif;
}
.navbar {
    background-color: #FDB815;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 95px;
}

.navbar img {
    height: 100px;
    display: flex;
    width: auto;
    margin-top: 0;
    margin-left: -24px;
}


.navbar-icons {
    display: flex;
    align-items: center;
}

#perfilBtn, #carrinhoBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: color 0.3s;
    color: black;
    margin-top: 20px;
    padding: 5px 25px;
}
#perfilBtn{
    margin-top: 22px;
}

#perfilBtn .material-symbols-outlined,
#carrinhoBtn .material-symbols-outlined{
    font-size: 24px;
    color: black;
    transition: color 0.3s;
}

#perfilBtn:hover .material-symbols-outlined,
#perfilBtn:focus .material-symbols-outlined,
#carrinhoBtn:hover .material-symbols-outlined,
#carrinhoBtn:focus .material-symbols-outlined {
    color: black;
}

/* Botão de login */
.button-login {
    background-color: transparent !important;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 23px;
    font-size: 16px;
    color: #000000;
    
}

.button-login:hover {
    background-color: #FDB815;
}


.container {
    display: flex;
    margin-top: -2.5rem;
    width: 100%;
    height: 70vh;
    padding: 7rem;
    justify-content: space-between;
}

.form{
    width: 50%; 
    height: 60vh; 
    background-color: #FDB815; 
    margin: 0 10px; 
    box-shadow: 5px 5px 10px rgba(0,0,0, 0.212);
    border-radius: 15px;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}
.title{
    font-size: 2.5rem;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 1000; 
    font-style: italic; 
    margin-top: -20px;
}
h6{
    font-size: 1.2rem;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 500; 
}
.input-group{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.input-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
    width: 80%;
}

.input-box input{
    margin: none;
    padding: 12px; /* Increased padding for larger size */
    border:none;
    border-radius: 4px;
    box-shadow: 1px 1px 6px #0000001c;
    width: 100%;
    font-family: 'Nunito Sans', sans-serif; 
    height: max-content;
}

.entrar-button {
    width: 100%;
    display: flex;
    justify-content: center;
}

.entrar-button button {
    width: 500px;
    border: none;
    padding: 0.62rem;
    border-radius: 4px;
    cursor: pointer;
    background-color: #C28D10;
    font-family: 'Nunito Sans', sans-serif;
    font-style:italic;
    font-size: 18px;
    font-weight:900;
    height: 50px;
}
.register{
    width: 50%; 
    height: 60vh; 
    background-color: #FDB815; 
    margin: 0 10px; 
    box-shadow: 5px 5px 10px rgba(0,0,0, .212);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.text-elements {
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
}

.register-button {
    margin-top: 10px;
}
.register-button button{
    border: none;
    width: 500px;
    padding: 0.62rem;
    border-radius: 4px;
    cursor: pointer;
    background-color: #C28D10;
    font-family: 'Nunito Sans', sans-serif;
    font-style:italic;
    font-size: 18px;
    font-weight:900;
    height: 50px;
}
.register-button a{
    font-size: 1.5rem;
    font-family: 'Nunito Sans', sans-serif; 
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color:#FDB815;    ;
}

.esquecisenha{
    display: flex;
    justify-content: end;
}
#loginError{
    color: rgb(255, 0, 0); 
    display: none; 
    text-align: center;
    margin-top: 15px;
    padding: 0;
    font-size: medium;
    
}

#loginError:active{
    color: rgb(255, 60, 0);
}
