* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Nunito Sans', sans-serif;
    overflow-x: hidden;
}

/* Estilos da barra de navegação */
.navbar {
    background-color: #FDB815;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 95px;
}

.navbar img {
    height: 100px;
    display: flex;
    width: auto;
    margin-top: -15px;
    margin-left: -20px;
}

.container-fluid {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem 1rem;
    width: 90%;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 15px;
    padding: 0 15px;
    width: 100%;
}

.product-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
    width: 260px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 350px;
    max-width: 350px;
    gap: 20px;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.3);
}

.product-card img {
    width: 100%;
    height: auto;
    max-height: 150px;
    object-fit: contain;
    margin-bottom: 10px;
}

.product-card .description {
    padding: 8px;
    margin: auto;
}

.product-card button {
    background-color: #FDB815;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px 0;
    border: none;
    transition: background-color 0.3s;
}

.product-card button:hover {
    background-color: #F2A516;
}

.btnvoltar {
    background-color: #FDB815;
    color: black;
    padding: 10px 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 40px;
    border: none;
    transition: background-color 0.3s, transform 0.3s;
    margin-bottom: 20px;
}

.btnvoltar:hover {
    background-color: #F2A516;
    transform: scale(1.05);
}
