<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@500;1000&ital,wght@1,1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/Cadastro.css">
    <title>Cadastro</title>
</head>
<body>
    <div class="container">
        <div class="form-image">
           <a href="Home.html"> <img src="../assets/img/LogoNova.png" alt="DrinkUp Logo" class="logo" />
           </a>
        </div>
        <div class="form-fields">
            <form action="#" method="post" id="formCadastro">
                <div class="form-header">
                    <div class="title">
                        <h1>CRIE SUA CONTA</h1>
                    </div>
                </div>
                <fieldset class="input-group"> 
                    <div class="input-box">
                        <label for="firstname">Nome Completo</label>
                        <input id="firstname" type="text" name="firstname" placeholder="Digite seu nome Completo"
                            required>
                    </div>
                    <div class="input-box">
                        <label for="birthdate">Data de Nascimento</label>
                        <input id="birthdate" type="date" name="birthdate" placeholder="DD/MM/YYYY" required>
                    </div>
                    <div class="input-box">
                        <label for="CPF">CPF</label>
                        <input id= "cpf"type="text" name="cpf" pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" placeholder="123.456.789.12" required>
                    </div>
                    <div class="input-box">
                        <label for="email">E-mail</label>
                        <input id="email" type="email" name="email" placeholder="aaaaa@aaaa.com" required>
                    </div>
                    <div class="input-box">
                        <label for="rua">Rua</label>
                        <input id="rua" type="text" name="rua" placeholder="Rua das Flores" required>
                    </div>
                    <div class="input-box">
                        <label for="numero">Número</label>
                        <input id="numero" type="text" name="numero" placeholder="ex: 2000" required>
                    </div>
                    <div class="input-box">
                        <label for="complemento">Complemento</label>
                        <input id="complemento" type="text" name="complemento" placeholder="ex: apt 101, bloco 2">
                    </div>
                    <div class="input-box">
                        <label for="uf">UF</label>
                        <input id="uf" type="text" name="uf" placeholder="MINAS GERAIS" required>
                    </div>
                    <div class="input-box">
                        <label for="cidade">Cidade</label>
                        <input id="cidade" type="text" name="cidade" placeholder="Ex: São Paulo" required>
                    </div>
                    <div class="input-box">
                        <label for="bairro">Bairro</label>
                        <input id="bairro" type="text" name="bairro" placeholder="Ex: Pedro II" required>
                    </div>
                    <div class="input-box">
                        <label for="cep">CEP</label>
                        <input id="cep" type="text" name="cep" placeholder="00000000" pattern="\d{8}" title="Digite o CEP com 8 dígitos, sem traços." required>
                    </div>
                    <div class="input-box">
                        <label for="telefone">Telefone</label>
                        <input id="telefone" type="tel" name="telefone" placeholder="(DD) 99999-9999" required>
                    </div>
                    <div class="input-box">
                        <label for="senha">Senha</label>
                        <input id="senha" type="password" name="senha" placeholder="Senha" required>
                    </div>
                    <div class="input-box">
                        <label for="confirmasenha">Confirma Senha</label>
                        <input id="confirmasenha" type="password" name="confirmasenha" placeholder="Confirme sua senha"
                            required>
                    </div>
                </fieldset>
                <div class="input-box">
                    <input type="checkbox" id="ageConfirmation" name="ageConfirmation" required>
                    <label for="ageConfirmation">Termo de ciência </label>
                    <a href="#" id="openPopup">Leia os termos</a>
                </div>
                <div class="cadastrar-button">
                    <button id="bntCadastrar" type="button">Cadastrar</button>
                </div>
            </form>
            <div id="popupContainer" class="popup-container">
                <div class="popup-content">
                    <span class="close-btn" id="closePopup">&times;</span>
                    <h2>Termos de Ciência</h2>
                    <p>
                        <strong>Idade Mínima</strong>: Ao realizar uma compra de bebidas alcoólicas, você declara ter 18 anos ou mais. É proibida a venda de bebidas alcoólicas para menores de 18 anos, conforme disposto no Estatuto da Criança e do Adolescente (ECA), Lei nº 8.069/1990, Art. 81 e Art. 243.
                    </p>
                    <p><strong>Responsabilidade</strong>: Ao aceitar estes termos, você assume total responsabilidade pela veracidade das informações fornecidas e pelo cumprimento das leis relativas à compra e ao consumo de bebidas alcoólicas.</p>
                </div>
            </div>
        </div>
    </div>
    <script src = "../js/cadastroCliente.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
