<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Finalizar Compra</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
  <link rel="stylesheet" href="../css/FinalizarCompra.css">
</head>
<body>
    <body>
        <div class="navbar">
            <a class="navbar-brand" href="Home.html">
                <img src="../assets/img/LogoNova.png" alt="Logo DrinkUp">
            </a>
            <div class="navbar-icons">
                <button id="loginBtn" class="button-login" onclick="location.href='Login.html'">Login</button>
                <button id="carrinhoBtn" class="btn button-carrinho" onclick="location.href='Carrinho.html'">
                    <span class="material-symbols-outlined">shopping_cart</span>
                </button>
                <button id="perfilBtn" class="btn button-usuario" onclick="location.href='Perfil.html'">
                    <span class="material-symbols-outlined">person</span>
                </button>
            </div>
        </div>
        </div>
        <div class="title">
            <h2>FINALIZAR COMPRA</h3>
          </div>
        <div class="container">
            <aside class="sidebar">
                <table>
                    <thead>
                        <tr>
                            <th class="thead-products" scope="col">Produtos</th>
                            <th class="thead-name" scope="col">Nome</th>
                            <th class="thead-price" scope="col">Preço</th>
                            <th class="thead-qnt" scope="col">QNT</th>
                        </tr>
                    </thead>
                </table>
                <table id="cart">
                    <tbody id="carrinho-body">
                    <!--ITENS DO CARRINHO-->
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>   
            </aside>

            <main class="content">
                <div>
                    <table id="cart">
                        <tfoot>
                            <tr>
                                <td colspan="3" class="total">Subtotal:</td>
                                <td id="cart-total">
                                <!-- TOTAL DO PEDIDO -->
                                </td>
                                <td></td>
                            </tr>
                        <tr>
                            <td colspan="3" class="total">Frete:</td>
                            <td id="valorFrete">
                            <!-- TOTAL DO PEDIDO -->
                            </td>
                            <td></td>
                        </tr>
                       
                        <tr>
                            <td colspan="3" class="total">Valor Total:</td>
                            <td id="cart-subtotal">
                            <!-- TOTAL DO PEDIDO -->
                            </td>
                            <td></td>
                        </tr>
                        <!-- <td colspan="6" class="cart-buttons">
                            <button class="continue-shopping-button" onclick="location.href = 'Home.html'">Continuar Comprando</button>
                            <button class="checkout-button">Finalizar Compra</button>
                        </td> -->
                        </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="buttons">
                    <button class="cancelar-button" onclick="location.href = 'Home.html'">Cancelar</button>
                    <button class="checkout-button" id="btnpagar">Ir para pagamento</button>
                </div>
            </main>
        </div>
      
        <script type="module" src="../js/FinalizarCompra.js"></script>
        <!-- Icons -->
        <script
            src="https://kit.fontawesome.com/559e095fe9.js"
            crossorigin="anonymous"
        ></script>
</body>
</html>