<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pagamento</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link rel="stylesheet" href="../css/Pagamento.css" />
  </head>

  <body>
    <div class="navbar">
      <a class="navbar-brand" href="Home.html">
          <img src="../assets/img/LogoNova.png" alt="Logo DrinkUp">
      </a>
      <div class="navbar-icons">
          <button id="loginBtn" class="button-login" onclick="location.href='Login.html'">Login</button>
          <button id="carrinhoBtn" class="btn button-carrinho" onclick="location.href='Carrinho.html'">
              <span class="material-symbols-outlined">shopping_cart</span>
          </button>
          <button id="perfilBtn" class="btn button-usuario" onclick="location.href='Perfil.html'">
              <span class="material-symbols-outlined">person</span>
          </button>
      </div>
  </div>
  </div>

    <main>
      <div class="container">
        <div class="title">
          <h2>FINALIZAR COMPRA</h3>
        </div>
        <div class="subtitle">
          <h3>Valor Total: <span id="cart-subtotal">R$ 0,00</span></h3>
        </div>
        <div class="qrcode">
            <h3>QR CODE</h4>
        </div>
        <div class="qrcode-img">
            <img src="/img/qrcode-finalizarcompra.jpeg" alt="QRCODE">
        </div>
        <div>
          <h4>Se não for pago em até duas horas o pedido é considerado como cancelado.</h4>
        </div>
        <div class="row">
            <div class="input-group">
                <label for="codigocc" class="form-label">Coigo Copia e Cola</label>
                <input
                  type="text"
                  class="form-control"
                  id="codigocc"
                  value="00020101021126330014br.gov.bcb.pix0111150874376215204000053039865802BR5918BERNARDO R MARTINS6009NOVA LIMA62070503***63045CE0"
                  required
                  disabled
                  
                />
        </div>
      </div>
      <div class="button">
        <a href="https://wa.me/553191601241?text=Ol%C3%A1%2C%20Bom%20dia!%20Segue%20meu%20pagamento%20em%20anexo."><button type="button" class="btn" id="btncadastrar">Finalizar</button></a>
      </div>
    </main>

    <script src="../js/Pagamento.js"></script>
  </body>
</html>
